name: Approval Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main, dev]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/determinate-nix-action@v3

      - name: Run tests
        run: |
          nix build ./nixos_system_config#checks.x86_64-linux.SYSTEM_INSTALLS_FROM_ONE_SCRIPT -L
